/* modification pour l'afficahge des evenement calendrier et ticket */

.tribe-common-g-row , .tribe-events-calendar-list__event-row {
  background-color: #509f6d40;
  
  font-size: 36px;
  box-shadow: 0 15px 50px -30px rgb(0 0 0 / 50%);
  border-radius: 7px;
  border: 10px solid rgb(233, 85, 85);

      /* border: 10px solid green; */
}
.tribe-events-calendar-list__event-details .tribe-common-g-col #header {
  margin-top: 10px;
  padding-bottom: 10px;
}


.tribe-common-c-btn.tribe-events-c-search__button{
  background-color: #9cbe9c;
}
.tribe-common-c-btn.tribe-events-c-search__button:hover{
  opacity:0.6;
}
